.secao1 {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgb(65, 65, 65) 100%), 
                url(../assets/background.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}


.div1{
    margin-top: 250px;
    width: 40%;
}

.hhome1{
    color: black;
    display: flex;
    justify-content: center;
}

.phome1{
    color: black;
    display: flex;
    text-align: center;
    margin-top: 25px;
}

.secao2{
    background-color:  rgb(65, 65, 65);
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
